In [1]:
import pyarrow.parquet as pq

df = pq.read_table(source='sample/parquet/userdata4.parquet').to_pandas()
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   registration_dttm  1000 non-null   datetime64[ns]
 1   id                 1000 non-null   int32
 2   first_name         1000 non-null   object
 3   last_name          1000 non-null   object
 4   email              1000 non-null   object
 5   gender             1000 non-null   object
 6   ip_address         1000 non-null   object
 7   cc                 1000 non-null   object
 8   country            1000 non-null   object
 9   birthdate          1000 non-null   object
 10  salary             932 non-null    float64
 11  title              1000 non-null   object
 12  comments           995 non-null    object
dtypes: datetime64[ns](1), float64(1), int32(1), object(10)
memory usage: 97.8+ KB
None
      registration_dttm    id first_name  last_name  \
0   2016-02-04 15:28:05     1     Howard     Morgan
1   2016-02-04 10:28:40     2    Jessica    Schmidt
2   2016-02-04 18:01:36     3    Beverly     Flores
3   2016-02-04 08:51:14     4    Marilyn    Sanchez
4   2016-02-04 06:33:08     5     Janice   Mitchell
..                  ...   ...        ...        ...
995 2016-02-04 10:07:04   996      Debra       Dunn
996 2016-02-04 00:54:02   997    William  Patterson
997 2016-02-04 22:20:51   998    William     Butler
998 2016-02-04 19:51:02   999     Janice      Brown
999 2016-02-04 03:30:50  1000       Joan        Lee

                         email  gender       ip_address                   cc  \
0         hmorgan0@typepad.com           158.178.195.62
1         jschmidt1@google.com  Female   168.118.247.35     3565285464047941
2       bflores2@wikipedia.org  Female     51.97.88.173
3          msanchez3@intel.com  Female  186.206.142.162
4       jmitchell4@sina.com.cn  Female  205.187.116.241  5610719759939376962
..                         ...     ...              ...                  ...
995      ddunnrn@wikimedia.org  Female   180.218.110.23     3556697294628677
996  wpattersonro@omniture.com    Male  149.242.140.255     3528460022712031
997      wbutlerrp@myspace.com    Male  140.112.119.108     3570737562882432
998            jbrownrq@nhs.uk  Female    118.22.23.123     3536686776100326
999           jleerr@goo.ne.jp  Female    19.248.181.16     4026483689186336

        country   birthdate     salary                    title  \
0      Colombia   12/2/1992        NaN          Data Coordiator
1    Luxembourg   4/14/1995  222396.46           Research Nurse
2        Sweden   2/15/1965  141112.80                  Actuary
3         China    8/6/1969   87914.29      Structural Engineer
4        Poland    7/4/1995  269297.40  Systems Administrator I
..          ...         ...        ...                      ...
995       China  11/13/1968   97843.86              Geologist I
996    Colombia    3/1/2000  108955.05      Executive Secretary
997      Brazil  10/16/1984  109096.71             Programmer I
998      Brazil    7/8/1961  247882.00  Systems Administrator I
999    Tanzania    5/1/1997   92061.30         Internal Auditor

                                              comments
0
1                                                  nil
2
3
4
..                                                 ...
995  Àô…ênb·¥âl…ê …êu∆É…ê…Ø «ù…πolop  á«ù «ù…πoq…êl  án  áunp·¥âp·¥â…îu·¥â …π...
996                                  ‚úãüèø üí™üèø üëêüèø üôåüèø üëèüèø üôèüèø
997
998
999

[1000 rows x 13 columns]