In [7]:
import pandas as pd

df = pd.read_excel('sample/xlsx/fakegenerator/people-aroundtheworld.xlsx')  
print(df.info())
df.head()
print(df)
subset = df[["Age", "Occupation", "Vehicle"]]
subset.head()
print(subset)
age_above_35 = df[df["Age"] > 35]
age_above_35.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 45 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Number                100000 non-null  int64
 1   Gender                100000 non-null  object
 2   NameSet               100000 non-null  object
 3   Title                 100000 non-null  object
 4   GivenName             100000 non-null  object
 5   MiddleInitial         97207 non-null   object
 6   Surname               97317 non-null   object
 7   StreetAddress         100000 non-null  object
 8   City                  100000 non-null  object
 9   State                 73806 non-null   object
 10  StateFull             77047 non-null   object
 11  ZipCode               100000 non-null  object
 12  Country               100000 non-null  object
 13  CountryFull           100000 non-null  object
 14  EmailAddress          97188 non-null   object
 15  Username              100000 non-null  object
 16  Password              100000 non-null  object
 17  BrowserUserAgent      100000 non-null  object
 18  TelephoneNumber       100000 non-null  object
 19  TelephoneCountryCode  100000 non-null  int64
 20  MothersMaiden         91953 non-null   object
 21  Birthday              100000 non-null  object
 22  Age                   100000 non-null  int64
 23  TropicalZodiac        100000 non-null  object
 24  CCType                100000 non-null  object
 25  CCNumber              100000 non-null  int64
 26  CVV2                  100000 non-null  int64
 27  CCExpires             100000 non-null  object
 28  NationalID            35422 non-null   object
 29  UPS                   100000 non-null  object
 30  WesternUnionMTCN      100000 non-null  int64
 31  MoneyGramMTCN         100000 non-null  int64
 32  Color                 100000 non-null  object
 33  Occupation            100000 non-null  object
 34  Company               99890 non-null   object
 35  Vehicle               100000 non-null  object
 36  Domain                100000 non-null  object
 37  BloodType             100000 non-null  object
 38  Pounds                100000 non-null  float64
 39  Kilograms             100000 non-null  float64
 40  FeetInches            100000 non-null  object
 41  Centimeters           100000 non-null  int64
 42  GUID                  100000 non-null  object
 43  Latitude              100000 non-null  float64
 44  Longitude             100000 non-null  float64
dtypes: float64(4), int64(8), object(33)
memory usage: 34.3+ MB
None
       Number  Gender                NameSet Title  GivenName MiddleInitial  \
0           1  female             Vietnamese  Mrs.       Chín             L
1           2    male                Klingon   Mr.      Ka'As             K
2           3    male                Chinese   Mr.       Jian             E
3           4  female               Japanese   Ms.          凛             駿
4           5    male                 Arabic   Mr.     Sultan             S
...       ...     ...                    ...   ...        ...           ...
99995   99996  female              Greenland  Mrs.      Maren             E
99996   99997  female                Italian   Dr.  Alfonsina             V
99997   99998  female  Japanese (Anglicized)   Ms.     Tomoha             T
99998   99999    male                 Polish   Mr.  Szczeosny             H
99999  100000  female                   Thai  Mrs.   สุนกเล็ก             อ

         Surname                 StreetAddress       City State  ...  \
0           Đặng                  Gardatorg 28   Garðabær   NaN  ...
1          D'jon           Wilhelminastraat 25     Boekel    NB  ...
2             Tu                        Muru 4    Valasti    JR  ...
3             竹中                 Kárpát u. 64.  Kôröshegy    SO  ...
4          Srour                      Ártún 61  Reykjavík   NaN  ...
...          ...                           ...        ...   ...  ...
99995   Johansen          Kossuth Lajos u. 58.     Kölked    BA  ...
99996   Li Fonti             Kornquaderweg 102    Rheinau   NaN  ...
99997  Takahashi                  Gerðuberg 23    Grímsey   NaN  ...
99998    Sobczak  Rua Amélia Bueno Camargo 303   Campinas    SP  ...
99999     กาวะโล              Rua da Rapina 45  Garcirrey    SA  ...

                            Vehicle                Domain BloodType Pounds  \
0               2003 Renault Koleos   InvestorNetWorth.is        A+  148.5
1                      1999 Audi A8      RecordingApps.nl        O+  224.4
2      2014 Mercedes-Benz CLA-Class  ImportantApps.com.ee        O+  218.0
3               2004 Toyota Corolla  CorporateDividend.hu        O+  132.7
4                 2007 Kia Magentis           FindHugs.is        O+  149.6
...                             ...                   ...       ...    ...
99995      2009 Mini Cooper Clubman       PublicMining.hu        O+  231.9
99996                  2009 Audi R8  ReservationReview.ch       AB+  108.7
99997            2003 Toyota Condor         BankRights.is        O+  161.9
99998            2006 Dodge Stratus   PostalNumber.com.br        O+  176.2
99999             2005 Holden Astra           YouState.es        O+  130.2

      Kilograms FeetInches Centimeters                                  GUID  \
0          67.5      5' 7"         171  0e522ba1-38dd-40c3-9bf0-b86be779b8ed
1         102.0      6' 2"         188  8dcf6ecb-c436-47bb-9181-126f0f01f843
2          99.1      5' 6"         167  98461d55-9522-4b37-88e9-909609387f63
3          60.3      5' 2"         157  512fc7aa-808c-422a-af81-ff85e6066193
4          68.0      6' 1"         185  54acc307-7f4d-4d06-ac00-5c1e5eda4559
...         ...        ...         ...                                   ...
99995     105.4      5' 5"         164  0c8f9bdf-d64c-42de-9284-7018dac8426d
99996      49.4      5' 6"         167  449b4a47-721a-4c74-9570-6fa1eab5ab2f
99997      73.6      5' 3"         161  53af1092-b589-4c67-8ffb-3ad8914d4533
99998      80.1     5' 11"         180  f2e71806-2072-44ed-8257-8011edd0a046
99999      59.2      5' 6"         168  ea6ebd9e-af20-4447-8dc3-6c333d74d1ab

        Latitude  Longitude
0      64.147039 -21.878505
1      51.674893   5.747842
2      59.102916  25.836593
3      46.801294  17.920896
4      64.034344 -21.924284
...          ...        ...
99995  45.983309  18.755911
99996  47.608343   8.631922
99997  66.008056 -18.156922
99998 -22.859015 -46.945388
99999  40.903095  -6.147740

[100000 rows x 45 columns]
       Age                          Occupation                       Vehicle
0       35                           Dietitian           2003 Renault Koleos
1       23                      Nursery worker                  1999 Audi A8
2       83                 Claims investigator  2014 Mercedes-Benz CLA-Class
3       52                   Interior designer           2004 Toyota Corolla
4       49  Aircraft cargo handling supervisor             2007 Kia Magentis
...    ...                                 ...                           ...
99995   41                General office clerk      2009 Mini Cooper Clubman
99996   20                    Derrick operator                  2009 Audi R8
99997   32                 Industrial engineer            2003 Toyota Condor
99998   50        Registered nurse anesthetist            2006 Dodge Stratus
99999   51          Quality control technician             2005 Holden Astra

[100000 rows x 3 columns]

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
2,3,male,Chinese,Mr.,Jian,E,Tu,Muru 4,Valasti,JR,...,2014 Mercedes-Benz CLA-Class,ImportantApps.com.ee,O+,218.0,99.1,"5' 6""",167,98461d55-9522-4b37-88e9-909609387f63,59.102916,25.836593
3,4,female,Japanese,Ms.,凛,駿,竹中,Kárpát u. 64.,Kôröshegy,SO,...,2004 Toyota Corolla,CorporateDividend.hu,O+,132.7,60.3,"5' 2""",157,512fc7aa-808c-422a-af81-ff85e6066193,46.801294,17.920896
4,5,male,Arabic,Mr.,Sultan,S,Srour,Ártún 61,Reykjavík,NaN,...,2007 Kia Magentis,FindHugs.is,O+,149.6,68.0,"6' 1""",185,54acc307-7f4d-4d06-ac00-5c1e5eda4559,64.034344,-21.924284
5,6,male,Russian,Mr.,Nicodemus,A,Abdulov,P.O. Box 236,Ikerasassuaq,KU,...,2004 Jeep Cherokee,SmokeReport.gl,A+,167.9,76.3,"5' 8""",173,45321cbe-6e96-4644-9564-e6dd2653fbd6,60.112432,-43.206853
7,8,male,Chinese,Mr.,Liang,J,Ch'iu,Annadal 66,Valkenswaard,NB,...,2011 Buick Regal,OralScope.nl,O+,204.2,92.8,"5' 9""",176,59d31bc8-ca5e-4791-8bd2-e14f98e214bc,51.427964,5.504943